form(method="POST",action="/proposals/position/" + proposal._id,id="positionform")
  input(type="hidden",value=proposal._id,name="_id")
  fieldset.form-check
    label.btn.btn-block.btn-secondary
      span.btn-label
        i.glyphicon.glyphicon-chevron-right
      input(type="radio",value="dontCare",id="dontCareCheck",name="position",checked=(position.position == "dontCare")).form-check-input
      | I don't care (doesn't affect me)
  fieldset.form-check
     label.btn.btn-block.btn-success
       span.btn-label
         i.glyphicon.glyphicon-chevron-right
       input(type="radio",value="fullySupport",id="fullSupportCheck",name="position",checked=(position.position == "fullySupport")).form-check-input
       | I fully support this proposal
  fieldset.form-check
     label.btn.btn-block.btn-warning
       span.btn-label
         i.glyphicon.glyphicon-chevron-right
       input(type="radio",value="partiallySupport",id="conditionalSupportCheck",checked=(position.position == "partiallySupport"),name="position",data-toggle="collapse",data-target="#conditionalSupportSection").form-check-input
       | I support this idea, except &hellip;
  fieldset.form-check.collapse#conditionalSupportSection
    label.btn.btn-block.btn-warning.btn-indent 
      input(type="checkbox",id="disagreeWhatCheck",name="disagreeWhat",value="disagreeWhat",checked=(position.agreements.what == false),data-toggle="collapse",data-target='#disagreeWhatReasonSection').form-check-input
      |  &hellip; I don't agree with the proposed action
    label.collapse#disagreeWhatReasonSection
      textarea(type="text",id="disagreeWhatReason",name="disagreeWhatReason",placeholder="Explain why you disagree").form-control-text.form-control
        | #{position.reasons.what}
    label.btn.btn-block.btn-warning.btn-indent   
      input(type="checkbox",id="disagreeWhyCheck",name="disagreeWhy",value="disagreeWhy",checked=(position.agreements.why == false),data-target="#disagreeWhyReasonSection",data-toggle="collapse").form-check-input 
      |  &hellip; I don't agree with the reason for doing it
    label.collapse#disagreeWhyReasonSection
      textarea(type="text",id="disagreeWhyReason",name="disagreeWhyReason",placeholder="Explain why you disagree").form-control-text.form-control
        | #{position.reasons.why}
    label.btn.btn-block.btn-warning.btn-indent     
      input(type="checkbox",id="disagreeHowCheck",name="disagreeHow",value="disagreeHow",checked=(position.agreements.how == false),data-toggle="collapse",data-target="#disagreeHowReasonSection").form-check-input 
      |  &hellip;I don't agree with how it's being done
    label.collapse#disagreeHowReasonSection
     textarea(type="text",id="disagreeHowReason",name="disagreeHowReason",placeholder="Explain why you disagree").form-control-text.form-control
       | #{position.reasons.how}
  fieldset.form-group    
    label.btn.btn-block.btn-danger
      span.btn-label
        i.glyphicon.glyphicon-chevron-right
      input(type="radio",value="block",id="blockCheck",name="position",checked=(position.position == "block"),data-toggle="collapse",data-target="#blockReasonSection",title="Warning! This is a NUCLEAR option! Use with care!").form-check-input
      |  I wish to completely block this proposal
    label.collapse#blockReasonSection
      textarea(typee="text",id="blockReason",name="blockReason",placeholder="Outline why this should be blocked").form-control-text.form-control
        | #{position.reasons.block}
  fieldset.form-group
    label
      input(type="checkbox",id="anonCheck",name="anonymous",checked=(position.anonymous == true))
      |  Make this position anonymous
  .form-group
    button(type="submit").btn.btn-primary.btn-lg Save
script(src="/javascripts/positionform.js")
